# React Native / Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
*.log

# Metro
.expo/
.expo-shared/
.env
.env.local

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/app/debug.keystore
android/key.properties

# iOS (si llegas a agregarlo en el futuro)
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# VSCode
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jest
coverage/

# Temporary
*.tmp
temp/
